html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 70vh;
    width: 70vh;
    border: 5px solid black;
}