html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider-value {
    display: block;
    text-align: center;
    font-size: 3em;
    font-weight: 400;
}

.slider {
    width: 160px;
    height: 16px;
    outline: none;
    border-radius: 20px;
    overflow: hidden;
}

.slider::-moz-range-thumb,
.slider::-webkit-slider-thumb {
    
}

.container {
    height: 70vh;
    width: 70vh;
    border: 5px solid black;
    box-sizing: content-box;            /* border-box leads to extra space after last row - due to border being included in height */
    display: flex;
    flex-direction: column;
}

.grid-row {
    display: flex;
    width: 70vh;
    box-sizing: border-box;
    flex: 1 1 auto;
}

.grid-square {
    border: 1px dotted black;
    flex: 1 1 auto;
}